{% extends "base.html" %}

{% import '_macros.html' as macros %}

{% block content %}

<p id="booklist_links">
  <a
    href="{{ url_for('list_reviews') }}"
    {% if (request.path == url_for('list_reviews')) or (
      request.path != url_for('list_reading') and
      request.path != url_for('list_plans')
    ) %}class="selected"{% endif %}
  >read</a>
    /
  <a
    href="{{ url_for('list_reading') }}"
    {% if request.path == url_for('list_reading') %}class="selected"{% endif %}
  >reading</a>
    /
  <a
    href="{{ url_for('list_plans') }}"
    {% if request.path == url_for('list_plans') %}class="selected"{% endif %}
  >to read</a>
</p>

<div id="booklist_nav">
  <div id="booklist_title">
    <h2>{{ title | safe }}</h2>
  </div>

</div>

{% if user == current_user %}
<div id="add-book">
  <form id="search">
    <input id="query" name="query" type="text" placeholder="search to add..." />
    <button type="submit">
      search
    </button>
  </form>

  <ul id="results"></ul>

  <p id="loading" class="hidden">
    searching...
  </p>
</div>

<div class="book-add-form">
{% block add_book_form %}{% endblock %}
</div>
{% endif %}

{% block booklist_content %}{% endblock %}

<script>
  const search = document.getElementById("search");
  const query = document.getElementById("query");
  const resultsList = document.getElementById("results");
  const selected = document.getElementById("selected");
  const loader = document.getElementById("loading");

  const books = new Booksearch(
    "{{ url_for('search_books') }}",
    search,
    query,
    resultsList,
    selected,
    loader
  );
  books.bindEventListeners();
</script>

{% endblock %}
