{% extends "base.html" %}

{% block content %}

<div id="booklist_nav">
  <div id="booklist_title">
    <h2>{{ title }}</h2>
  </div>

  <div id="booklist_links">
    <a
      href="{{ url_for('get_reviews', username=user.username) }}"
      {% if request.path == url_for('get_reviews', username=user.username) %}class="selected"{% endif %}
    >read</a>
      /
    <a
      href="{{ url_for('get_reading', username=user.username) }}"
      {% if request.path == url_for('get_reading', username=user.username) %}class="selected"{% endif %}
    >reading</a>
      /
    <a
      href="{{ url_for('get_plans', username=user.username) }}"
      {% if request.path == url_for('get_plans', username=user.username) %}class="selected"{% endif %}
    >to read</a>
  </div>
</div>

{% if user == current_user %}
<div id="add-book">
  <form id="search">
    <input id="query" name="query" type="text" placeholder="search to add..." />
    <button type="submit">
      search
    </button>
  </form>

  <ul id="results"></ul>

  <div id="loading" class="hidden">
    searching...
  </div>
</div>

{% block add_book_form %}{% endblock %}
{% endif %}

{% block booklist_content %}{% endblock %}

<script>
  const search = document.getElementById("search");
  const query = document.getElementById("query");
  const resultsList = document.getElementById("results");
  const selected = document.getElementById("selected");
  const loader = document.getElementById("loading");

  const books = new Booksearch(
    "{{ url_for('search_books') }}",
    search,
    query,
    resultsList,
    selected,
    loader
  );
  books.bindEventListeners();
</script>

{% endblock %}
