<aside>
  <div id="aside_inner">
    <h1 id="brand">lexie&rsquo;s book tracker</h1>

    <ul class="dot_list">
      <li><a href="{{ url_for('index') }}">home</a></li>

      {% if current_user.is_anonymous %}
        <li><a href="{{ url_for('login') }}">log in</a></li>
      {% else %}

        <li>
          logged in as <a href="{{ url_for('list_reviews') }}">{{ current_user.username }}</a>
          (<a href="{{ url_for('logout') }}">log out</a>)
        </li>
      {% endif %}
    </ul>
  </div>
</aside>
