<style>
  body {
    font-family: monospace;
  }

  div.plan {
    border: 1px solid blue;
    display: inline-block;
    margin: 1em;
    border-radius: 5px;
    padding: 10px;
    background: rgba(0, 0, 255, 0.2);
    width: 300px;
  }
</style>

<div class="plan" id="plan-{{ plan.id }}">
  <h2>
    {{ plan.book.title }}
  </h2>

  <p>{{ plan.book.author }}</p>

  <div class="image">
    <img src="{{ plan.book.image_url }}" alt="Cover of {{ plan.book.title }}"/>
  </div>

  <p>{{ plan.note }}</p>

  {% if user == current_user %}
    <button class="edit-plan" data-planid="{{ plan.id }}">
      edit
    </button>

    <form
      action="{{ url_for('move_plan_to_reading', username=user.username, plan_id=plan.id) }}"
      method="POST">
      <button class="mark-as-reading" data-planid="{{ plan.id }}">
        mark as reading
      </button>
    </form>

    <button class="mark-as-read" data-planid="{{ plan.id }}">
      mark as read
    </button>

    <script>
      function confirmDeletion{{ plan.id }}() {
        return confirm('Are you sure you want to remove ' + {{ plan.book.title|to_json|safe }} + '?');
      }
    </script>

    <form
      action="{{ url_for('delete_plan', username=user.username, plan_id=plan.id) }}"
      method="POST"
      class="delete-button"
      onsubmit="return confirmDeletion{{ plan.id }}();"
    >
      <button type="submit" class="delete-book">
        delete
      </button>
    </form>

    <form
      action="{{ url_for('edit_plan', username=user.username, plan_id=plan.id) }}"
      method="POST"
      class="hidden book-edit-form"
    >
      <button type="button" class="cancel-edit">
        Cancel
      </button>

      {{ edit_form.hidden_tag() }}

      <p>
        {{ edit_form.note.label }}
        <textarea id="note" name="note">{{ plan.note }}</textarea>
      </p>

      <button type="submit">
        Update
      </button>
    </form>

    <form
      action="{{ url_for('mark_plan_as_read', username=user.username, plan_id=plan.id) }}"
      method="POST"
      class="hidden add-review-form"
    >
      <button type="button" class="cancel-add-review">
        Cancel
      </button>

      {{ review_form.hidden_tag() }}

      <p>
        {{ review_form.review_text.label }}
        <textarea id="review_text" name="review_text">{{ plan.note }}</textarea>
      </p>

      <p>
        {{ review_form.did_not_finish.label }}
        {{ review_form.did_not_finish() }}
      </p>

      <p>
        {{ review_form.is_favourite.label }}
        {{ review_form.is_favourite() }}
      </p>

      <p>
        {{ review_form.date_read.label }}
        {{ review_form.date_read() }}
      </p>

      <button type="submit">
        Mark read
      </button>
    </form>
  {% endif %}
</div>
