<div class="book" id="reading-{{ reading.id }}">
  <div class="info">
    <div class="book-preview">
      <div class="book-thumbnail"><img src="{{ reading.book.image_url}}"></div>
      <div class="book-metadata">
        <h3 class="book-title">
          {{ reading.book.title }}
        </h3>
        {% if reading.book.author or reading.book.year %}
          {{ reading.book.author }}
          {%- if reading.book.author and reading.book.year %},{% endif %}
          {{ reading.book.year }}
        {% endif %}

        <div class="reading-note">
          {% if reading.note %}
            {% for line in reading.note.splitlines() %}
              {% if line %}
                <p>{{ line | smartypants | safe }}</p>
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>

    {% if user == current_user %}
    <div class="actions">
      <button class="edit-reading" data-readingid="{{ reading.id }}">
        edit
      </button>

      <button class="mark-as-read" data-readingid="{{ reading.id }}">
        mark as read
      </button>

      <form
        action="{{ url_for('delete_reading', reading_id=reading.id) }}"
        method="POST"
        class="delete-button"
        onsubmit="return confirmDeletion{{ reading.id }}();"
      >
        <button type="submit" class="delete-book">
          delete
        </button>
      </form>
    </div>
    {% endif %}

  </div>

  {% if user == current_user %}
    <script>
      function confirmDeletion{{ reading.id }}() {
        return confirm('Are you sure you want to remove ' + {{ reading.book.title|to_json|safe }} + '?');
      }
    </script>

    <form
      action="{{ url_for('edit_reading', reading_id=reading.id) }}"
      method="POST"
      class="hidden reading-edit-form"
    >
      {{ edit_form.hidden_tag() }}

      <p>
        {{ edit_form.note.label }}
        <textarea id="note" name="note">{{ reading.note }}</textarea>
      </p>

      <button type="button" class="cancel-edit">
        cancel
      </button>

      <button type="submit">
        update
      </button>
    </form>

      <form
        action="{{ url_for('mark_as_read', reading_id=reading.id) }}"
        method="POST"
        class="hidden mark-as-read-form"
      >

      {{ review_form.hidden_tag() }}

      <p>
        {{ review_form.review_text.label }}
        <textarea id="review_text" name="review_text">{{ reading.note }}</textarea>
      </p>

      <div class="half-width">
        {{ review_form.is_favourite() }}
        {{ review_form.is_favourite.label }}
      </div>
      <div class="half-width">
        {{ review_form.did_not_finish() }}
        {{ review_form.did_not_finish.label }}
      </div>

      <p>
        {{ review_form.date_read.label }}<br/>
        {{ review_form.date_read() }}
      </p>

      <button type="button" class="cancel-add-review">
        cancel
      </button>

      <button type="submit">
        mark as read
      </button>
    </form>
  {% endif %}
</div>
