<style>
  body {
    font-family: monospace;
  }

  div.reading {
    border: 1px solid green;
    display: inline-block;
    margin: 1em;
    border-radius: 5px;
    padding: 10px;
    background: rgba(0, 255, 0, 0.2);
    width: 300px;
  }
</style>

<div class="reading" id="reading-{{ reading.id }}">
  <h2>
    {{ reading.book.title }}
  </h2>

  <p>{{ reading.book.author }}</p>

  <div class="image">
    <img src="{{ reading.book.image_url }}" alt="Cover of {{ reading.book.title }}"/>
  </div>

  <p>{{ reading.note }}</p>

  {% if user == current_user %}
    <button class="edit-reading" data-readingid="{{ reading.id }}">
      edit
    </button>

    <button class="mark-as-read" data-readingid="{{ reading.id }}">
      mark as read
    </button>

    <script>
      function confirmDeletion{{ reading.id }}() {
        return confirm('Are you sure you want to remove ' + {{ reading.book.title|to_json|safe }} + '?');
      }
    </script>

    <form
      action="{{ url_for('delete_reading', username=user.username, reading_id=reading.id) }}"
      method="POST"
      class="delete-button"
      onsubmit="return confirmDeletion{{ reading.id }}();"
    >
      <button type="submit" class="delete-book">
        delete
      </button>
    </form>

    <form
      action="{{ url_for('edit_reading', username=user.username, reading_id=reading.id) }}"
      method="POST"
      class="hidden book-edit-form"
    >
      <button type="button" class="cancel-edit">
        Cancel
      </button>

      {{ edit_form.hidden_tag() }}

      <p>
        {{ edit_form.note.label }}
        <textarea id="note" name="note">{{ reading.note }}</textarea>
      </p>

      <button type="submit">
        Update
      </button>
    </form>

    <form
      action="{{ url_for('mark_as_read', username=user.username, reading_id=reading.id) }}"
      method="POST"
      class="hidden add-review-form"
    >
      <button type="button" class="cancel-add-review">
        Cancel
      </button>

      {{ review_form.hidden_tag() }}

      <p>
        {{ review_form.review_text.label }}
        <textarea id="review_text" name="review_text">{{ reading.note }}</textarea>
      </p>

      <p>
        {{ review_form.did_not_finish.label }}
        {{ review_form.did_not_finish() }}
      </p>

      <p>
        {{ review_form.is_favourite.label }}
        {{ review_form.is_favourite() }}
      </p>

      <p>
        {{ review_form.date_read.label }}
        {{ review_form.date_read() }}
      </p>

      <button type="submit">
        Mark read
      </button>
    </form>
  {% endif %}
</div>
