<div class="book {% if review.did_not_finish %}book--did_not_finish{% endif %} {% if review.is_favourite %}book--is_favourite{% endif %}" id="book-{{ review.id }}">
  <div class="info">
    <div class="book-preview">
      <div class="book-thumbnail"><img src="{{ review.book.image_url}}"></div>
      <div class="book-metadata">
        <h3 class="book-title">
          <a
            href="{{ url_for('get_review', username=user.username, review_id=review.id) }}">
            {{ review.book.title }}
          </a>
        </h3>
        {% if review.book.author or review.book.year %}
          {{ review.book.author }}
          {%- if review.book.author and review.book.year %},{% endif %}
          {{ review.book.year }}
          <br/>
        {% endif %}
        Read: {{ review.date_read }}
      </div>
    </div>
  </div>

  {% if show_reviews %}
    <div class="book-description">
      {% for line in review.review_text.split(".") %}
        {% if line %}
          <p class="review">{{ line }}</p>
        {% endif %}
      {% endfor %}
    </div>

    {% if user == current_user %}
    <script>
      function confirmDeletion{{ review.id }}() {
        return confirm('Are you sure you want to delete your review for ' + {{ review.book.title|to_json|safe }} + '?');
      }
    </script>

    <div class="actions">
      <button class="edit-book" data-bookid="{{ review.id }}">
        edit
      </button>

      <form
        action="{{ url_for('delete_review', username=user.username, review_id=review.id) }}"
        method="POST"
        class="delete-button"
        onsubmit="return confirmDeletion{{ review.id }}();"
      >
        <button type="submit" class="delete-book">
          delete
        </button>
      </form>
    </div>

    <form
      action="{{ url_for('edit_review', username=user.username) }}"
      method="POST"
      class="hidden book-edit-form"
    >
      {{ edit_form.hidden_tag() }}

      {{ edit_form.review_id(value=review.id, type="hidden") }}

      <p>
        {{ edit_form.review_text.label }}

        {#
          As far as I can tell, because "review_text" is a text area, you can't just do

              edit_form.review_text(value=review.review_text)

          The value is set as an attribute on the HTML tag, but not rendered into
          the text area where the user can see it.
        #}
        <textarea id="review_text" name="review_text" rows="4">{{ review.review_text }}</textarea>
      </p>

      <p>
        <input type="checkbox" id="did_not_finish" name="did_not_finish" {% if review.did_not_finish %}checked{% endif %}>
        {{ edit_form.did_not_finish.label }}
      </p>
      <p>
        <input type="checkbox" id="is_favourite" name="is_favourite" {% if review.is_favourite %}checked{% endif %}>
        {{ edit_form.is_favourite.label }}
      </p>

      <p>
        {{ edit_form.date_read.label }}<br/>
        {{ edit_form.date_read(value=review.date_read) }}
      </p>

      <button type="button" class="cancel-edit">
        cancel
      </button>
      <button type="submit">
        update
      </button>
    </form>
    {% endif %}
  {% endif %}
</div>
