<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>

    <title>{% if title %}{{ title }} — {% endif %}📚 Books</title>
  </head>
  <body>
    {% include "_header.html" %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul id="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    <hr>
    {% endif %}

    {% endwith %}


    {% block content %}{% endblock %}
  </body>
</html>
