<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='booksearch.js') }}" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>{% if title %}{{ title }} {% endif %}📚 lexie&rsquo;s book tracker</title>
  </head>
  <body>
    {% include "_header.html" %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul id="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    <hr>
    {% endif %}

    {% endwith %}

    <main>
      {% block content %}{% endblock %}
    </main>

    {% include "_footer.html" %}
  </body>
</html>
