{% extends "base.html" %}

{% block content %}
  <h1>Welcome to my book tracker!</h1>

  <p>
    This is a small app I created to track the books I&rsquo;m reading.
    In this app, I can:
  </p>

  <ul>
    <li>Write mini-reviews of the <a href="{{ url_for('list_reviews') }}">books I&rsquo;ve read</a></li>
    <li>Keep track of what <a href="{{ url_for('list_reading') }}">I&rsquo;m currently reading</a></li>
    <li>Write down what books <a href="{{ url_for('list_plans') }}">I want to read</a>, and why I want to read them</li>
  </ul>

  <p>
    This site is quite idiosyncratic, and built to my tastes: for example, rather than five-star ratings, I just give a book a 👎 (did not finish) or a 👍 (really good).
    If you&rsquo;re looking for a way to track your own books, you may prefer something more like Goodreads, LibraryThing, or a spreadsheet you designed yourself.
  </p>

  <p>
    You can see all my code <a href="https://github.com/alexwlchan/lexies-library-log">on GitHub</a>.
    It&rsquo;s written in Python, using Flask as the web server.
  </p>

  <p>
    This was inspired by a <a href="http://tessa-books.glitch.me">similar book tracker</a> created by <a href="https://twitter.com/tessthornton">Tessa Thornton</a>.
  </p>
{% endblock %}
