{% extends "base.html" %}

{% block content %}
<style>
    form#login {
      background-color: rgba(76, 61, 174, 0.15);
      border: 1px solid #4c3dae;
      border-radius: 5px;
      padding: 10px;

      max-width: 500px;

      margin-bottom: 1em;
    }

    form#login input, form#login textarea {
      border: 1px solid #4c3dae;
    }

    form#login input[type="submit"] {
      font-family: monospace;
      border: 1px solid #3586e3;
      background: none;
      color: #175cab;
      background-color: #F2F7FD;
      border-radius: 3px;
      cursor: pointer;
    }

    form#login p:first-child {
      margin-top: 0;
    }

    form#login p:last-child {
      margin-bottom: 0;
    }

    form#login .error {
      color: red;
      font-size: 0.85em;
    }
  </style>

  <h1>sign in</h1>
  <form action="" method="post" novalidate id="login">
    {{ form.hidden_tag() }}
    <p>
      {{ form.username.label }}<br>
      {{ form.username(size=32) }}
      {% for error in form.username.errors %}
        <span class="error">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.password.label }}<br>
      {{ form.password(size=32) }}
      {% for error in form.password.errors %}
        <span class="error">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
    <p>{{ form.submit() }}</p>
  </form>
{% endblock %}
