{% extends "_booklist.html" %}

{% block add_book_form %}
<form method="POST" id="selected" action="{{ url_for('add_plan') }}" class="hidden">
  {{ plan_form.hidden_tag() }}
  <div id="info">

  </div>
  {{ plan_form.title(type="hidden", id="title") }}
  {{ plan_form.author(type="hidden", id="author") }}
  {{ plan_form.image_url(type="hidden", id="image_url") }}
  {{ plan_form.source_id(type="hidden", id="source_id") }}
  {{ plan_form.year(type="hidden", id="year") }}
  {{ plan_form.identifiers(type="hidden", id="identifiers") }}
  {{ plan_form.isbn_10(type="hidden", id="isbn_10") }}
  {{ plan_form.isbn_13(type="hidden", id="isbn_13") }}

  <p>
    {{ plan_form.note.label }}
    {{ plan_form.note() }}
  </p>
  <button type="submit">
    add
  </button>
</form>
{% endblock %}

{% block booklist_content %}
  {% if plans %}
    <div class="books">
    {% for plan in plans %}
      {% include "_plan.html" %}
    {% endfor %}
    </div>
    <p>
      <a href="{{ url_for('export_plans_as_csv') }}">download as a spreadsheet</a>
    </p>
  {% else %}
    I don&rsquo;t have anything to read right now!
  {% endif %}

  <script>
    const container = document.querySelector(".books");
    if (container) {
      const plans = new Plans(container);
      plans.addEventListeners();
    }
  </script>

  <script>
    [...document.querySelectorAll(".mark-as-read")].forEach(item => {
      item.addEventListener("click", evt => {
        const div = document.getElementById("plan-" + evt.target.dataset.planid);
        div.querySelector(".mark-as-read-form").classList.remove("hidden");
        [...div.querySelectorAll(".datepicker")].forEach((input) => input.value = new Date().toISOString().substr(0, 10))});
    });
    [...document.querySelectorAll(".cancel-add-review")].forEach(item => {
      item.addEventListener("click", evt => {
        [...document.querySelectorAll(".mark-as-read-form")].forEach(form =>
          form.classList.add("hidden")
        );
      });
    });
  </script>
{% endblock %}
