{% extends "_booklist.html" %}

{% block add_book_form %}
<form method="POST" id="selected" action="{{ url_for('add_reading', username=user.username) }}" class="hidden">
  {{ reading_form.hidden_tag() }}
  <div id="info">

  </div>
  {{ reading_form.title(type="hidden", id="title") }}
  {{ reading_form.author(type="hidden", id="author") }}
  {{ reading_form.image_url(type="hidden", id="image_url") }}
  {{ reading_form.source_id(type="hidden", id="source_id") }}
  {{ reading_form.year(type="hidden", id="year") }}
  {{ reading_form.identifiers(type="hidden", id="identifiers") }}

  <p>
    {{ reading_form.note.label }}
    {{ reading_form.note() }}
  </p>
  <button type="submit">
    Add
  </button>
</form>
{% endblock %}

{% block booklist_content %}
  {% if currently_reading %}
    <div class="books">
    {% for reading in currently_reading %}
      {% include "_reading.html" %}
    {% endfor %}
    </div>
  {% else %}
    <p>
      {% if user == current_user %}
        You aren't reading any books right now!
      {% else %}
        {{ user }} isn't reading any books right now!
      {% endif %}
    </p>
  {% endif %}

  <script>
    const container = document.querySelector(".books");
    if (container) {
      const reading = new Reading(container);
      reading.addEventListeners();
    }
  </script>

  <script>
    [...document.querySelectorAll(".mark-as-read")].forEach(item => {
      item.addEventListener("click", evt => {
        const div = document.getElementById("reading-" + evt.target.dataset.readingid);
        div.querySelector(".mark-as-read-form").classList.remove("hidden");
        [...div.querySelectorAll(".datepicker")].forEach((input) => input.value = new Date().toISOString().substr(0, 10))});
    });
    [...document.querySelectorAll(".cancel-add-review")].forEach(item => {
      item.addEventListener("click", evt => {
        [...document.querySelectorAll(".mark-as-read-form")].forEach(form =>
          form.classList.add("hidden")
        );
      });
    });
  </script>
{% endblock %}
