{% extends "base.html" %}

{% block content %}
  <h1>sign up</h1>
  <style>
    form#register {
      background-color: rgba(76, 61, 174, 0.15);
      border: 1px solid #4c3dae;
      border-radius: 5px;
      padding: 10px;

      max-width: 500px;

      margin-bottom: 1em;
    }

    form#register input, form#register textarea {
      border-color: #4c3dae;
    }

    form#register input[type="submit"] {
      font-family: monospace;
      border: 1px solid #3586e3;
      background: none;
      color: #175cab;
      background-color: #F2F7FD;
      border-radius: 3px;
      cursor: pointer;
    }

    form#register p:first-child {
      margin-top: 0;
    }

    form#register p:last-child {
      margin-bottom: 0;
    }
  </style>

  <form id="register" action="" method="post">
      <p>
          {{ form.username.label }}<br>
          {{ form.username(size=32) }}<br>
          {% for error in form.username.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
      </p>

      {{ form.hidden_tag() }}

      <p>
          {{ form.email_address.label }}<br>
          {{ form.email_address(style="width: calc(100% - 10px)") }}<br>
          {% for error in form.email_address.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
      </p>
      <p>
          {{ form.password.label }}<br>
          {{ form.password(size=32) }}<br>
          {% for error in form.password.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
      </p>
      <p>
          {{ form.password2.label }}<br>
          {{ form.password2(size=32) }}<br>
          {% for error in form.password2.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
      </p>
      <p>{{ form.submit() }}</p>
  </form>
{% endblock %}
