{% extends "_booklist.html" %}

{% block title %}
  {{ user.username }}&rsquo;s books
{% endblock %}

{% block booklist_content %}
  <h1>
    {% if user == current_user %}
      my
    {% else %}
      {{ user.username }}&rsquo;s
    {% endif %}
    reviews
  </h1>

  <style>
    .hidden {
      display: none;
    }

    .search-result {
      background-color: yellow;
      cursor: pointer;
    }

    .search-result:hover {
      background-color: red;
    }

    .search-result img {
      height: 50px;
    }
  </style>

  {% if user == current_user %}
    <!-- <form id="search">
      <input id="query" name="query" type="text" placeholder="search to add..." />
      <button type="submit">
        search
      </button>
    </form>

    <div id="results"></div>

    <div id="loading" class="hidden">
      searching...
    </div> -->

  <div>
    <form method="POST" id="selected" action="{{ url_for('add_review', username=user.username) }}" class="hidden">
      {{ review_form.hidden_tag() }}
      <div id="info">

      </div>
      {{ review_form.title(type="hidden", id="title") }}
      {{ review_form.author(type="hidden", id="author") }}
      {{ review_form.image_url(type="hidden", id="image_url") }}
      {{ review_form.source_id(type="hidden", id="source_id") }}
      {{ review_form.year(type="hidden", id="year") }}
      {{ review_form.identifiers(type="hidden", id="identifiers") }}

      <p>
        {{ review_form.review_text.label }}
        {{ review_form.review_text() }}
      </p>

      <p>
        {{ review_form.did_not_finish.label }}
        {{ review_form.did_not_finish() }}
      </p>

      <p>
        {{ review_form.is_favourite.label }}
        {{ review_form.is_favourite() }}
      </p>

      <p>
        {{ review_form.date_read.label }}
        {{ review_form.date_read() }}
      </p>
      <button type="submit">
        Add
      </button>
    </form>
  </div>
  {% endif %}

  {% if reviews %}
    <div class="books">
    {% for review in reviews %}
      {% include "_review.html" %}
    {% endfor %}
    </div>
  {% else %}
    {% if user == current_user %}
      You haven't reviewed any books yet!
    {% else %}
      {{ user }} hasn't reviewed any books yet!
    {% endif %}
  {% endif %}

  <script>
    class Books {
      constructor(container) {
        this.container = container;
        this.editing = null;
      }

      addEventListeners() {
        [...document.querySelectorAll(".edit-book")].forEach(item => {
          item.addEventListener("click", evt => {
            this.editing = parseInt(evt.target.dataset["bookid"]);
            this.renderEditing();
          });
        });
        [...document.querySelectorAll(".cancel-edit")].forEach(item => {
          item.addEventListener("click", evt => {
            this.editing = null;
            this.renderEditing();
          });
        });
      }

      renderEditing() {
        const div = document.getElementById("book-" + this.editing);

        if (this.editing) {
          const form = div.querySelector(".book-edit-form");

          form.classList.remove("hidden");
        } else {
          [...document.querySelectorAll(".book-edit-form")].forEach(item => {
            item.classList.add("hidden");
          });
        }
      }
    }

    const container = document.querySelector(".books");
    if (container) {
      const books = new Books(container);
      books.addEventListeners();
    }
  </script>
{% endblock %}
