{% extends "_booklist.html" %}

{% block add_book_form %}
<form method="POST" id="selected" action="{{ url_for('add_review') }}" class="hidden">
  {{ review_form.hidden_tag() }}
  <div id="info"></div>

  {{ review_form.title(type="hidden", id="title") }}
  {{ review_form.author(type="hidden", id="author") }}
  {{ review_form.image_url(type="hidden", id="image_url") }}
  {{ review_form.source_id(type="hidden", id="source_id") }}
  {{ review_form.year(type="hidden", id="year") }}
  {{ review_form.identifiers(type="hidden", id="identifiers") }}
  {{ review_form.isbn_10(type="hidden", id="isbn_10") }}
  {{ review_form.isbn_13(type="hidden", id="isbn_13") }}

  <p>
    {{ review_form.review_text.label }}<br/>
    {{ review_form.review_text(rows=3) }}
  </p>

  <div class="half-width">
    {{ review_form.is_favourite() }}
    {{ review_form.is_favourite.label }}
  </div>
  <div class="half-width">
    {{ review_form.did_not_finish() }}
    {{ review_form.did_not_finish.label }}
  </div>

  <p>
    {{ review_form.date_read.label }}<br/>
    {{ review_form.date_read() }}
  </p>
  <button type="submit">add</button>
</form>
{% endblock %}

{% block booklist_content %}
  {% if reviews %}
    <div class="books">
    {% for year, matching_reviews in reviews|group_by_year %}
      {% set count = matching_reviews|length %}
      <h3>the {{ matching_reviews|length }} book{% if count != 1 %}s{% endif %} i read in {{ year }}</h3>

      {% for review in matching_reviews %}
        {% include "_review.html" %}
      {% endfor %}
    {% endfor %}
    </div>
  {% else %}
    <p>
      I haven&rsquo;t read any books yet!
    </p>
  {% endif %}

  <script>
    const container = document.querySelector(".books");
    if (container) {
      const books = new Books(container);
      books.addEventListeners();
    }
  </script>
{% endblock %}
