aside {
  background: url('/static/specktre_tQt7j.png') #333366;
  background-size: auto 100%;
  color: white;
  padding: 8px 1em;
  font-size: 10.5pt;
  line-height: 1.3em;

  #aside_inner {
    @include centred($max-width);
  }

  h1 {
    margin-top: 0;
    margin-bottom: 0;
    display: inline;
    font-size: 1em;

    &::after {
      content: " 📚";
    }
  }

  ul.dot_list {
    list-style-type: none;
    padding-left: 0px;
    display: inline;

    li {
      display: inline;

      a {
        @include link_styles(#ffffff, 0.3);
      }

      &:not(:first-child)::before {
        content: " · ";
      }
    }
  }
}
