#add-book {
  margin-top: 1em;

  form#search {
    display: flex;
    align-items: center;
    position: relative;

    input#query {
      font-size: 0.9em;
      border: 1px solid #4c3dae;
      background-color: rgba(76, 61, 174, 0.05);
      padding: 4px;
    }

    button:active {
      margin-top: 2px;
      color: #175cab;
    }
  }
}
