#booklist_title {
  display: inline-block;
  margin-bottom: 1em;

  h2 {
    margin: 0;
  }
}

#booklist_links {
  margin-top: 0.2em;

  a.selected {
    font-weight: bold;
  }
}

#results {
  list-style-type: none;
  padding-left: 0;

  .search-result {
    background-color: rgba(255, 237, 158, 0.6);
    cursor: pointer;
    border: 1px solid black;
    padding: 3px;
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: -1px;
    }

    &:hover {
      background-color: #ffd30f;
    }

    img {
      height: 45px;
    }
  }

  .search-result-thumbnail {
    width: 75px;
    text-align: center;
    line-height: 0;
  }
}

.books {
  .book {
    border: 1px solid #00a892;
    margin-bottom: 1em;
    border-radius: 5px;
    background: rgba(0, 255, 221, 0.1);
    width: 100%;

    .info {
      padding: 15px;

      &:not(:last-child) {
        padding-bottom: 0;
      }

      .book-thumbnail {
        width: 90px;
        text-align: center;
        line-height: 0;
      }

      img {
        max-height: 120px;
        max-width: 80px;
      }
    }

    &.book--is_favourite {
      border-width: 5px;
      margin-top: -4px;
      margin-right: -4px;
      margin-left: -4px;
      margin-bottom: calc(1em - 4px);
    }

    &.book--did_not_finish {
      opacity: 0.7;
    }

    .book-description, .actions {
      padding: 15px;
    }

    .book-description {
      padding-top: 0;
      padding-bottom: 0;
    }

    h3 {
      margin-top: 0;
      font-weight: normal;
      line-height: 1.25em;
    }

    a, a:visited {
      @include link_styles(black, 0.3);
    }

    .actions {
      text-align: right;
      padding-top: 0;

      button, form {
        display: inline-block;
      }
    }
  }
}
