#booklist_nav {
  margin-top: 0.25em;

  // Vertically align the two divs.
  // See https://stackoverflow.com/q/2743989/1558022
  display: flex;
  align-items: center;

  #booklist_title, #booklist_links {
    display: inline-block;
  }

  #booklist_title h2 {
    margin: 0;
  }

  #booklist_links {
    margin-left: 2em;
    margin-bottom: 0.2em;

    a.selected {
      font-weight: bold;
    }
  }
}

#results {
  list-style-type: none;
  padding-left: 0;

  .search-result {
    background-color: rgba(255, 237, 158, 0.6);
    cursor: pointer;
    border: 1px solid black;
    padding: 3px;
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: -1px;
    }

    &:hover {
      background-color: #ffd30f;
    }

    img {
      height: 45px;
    }
  }

  .search-result-thumbnail {
    width: 75px;
    text-align: center;
    line-height: 0;
  }
}
