.book-preview {
  display: flex;
  align-items: center;

  .book-thumbnail {
    margin-right: 1em;
  }
}

.book-add-form form, .book-edit-form, .reading-edit-form, .mark-as-read-form, .plan-edit-form, form#register {
  #info img {
    height: 80px;
  }

  textarea {
    width: calc(100% - 10px);
  }

  label {
    font-size: 0.85em;
  }

  input {
    border: 1px solid;
    font-size: 1em;
  }

  input[type="checkbox"] {
    transform: scale(2);
  }

  textarea {
    border: 1px solid;
    font-size: 1em;
    line-height: 1.35em;
  }
}

.book-add-form form {
  background-color: rgba(193, 255, 179, 0.6);
  border: 1px solid #24c200;
  border-radius: 5px;
  padding: 10px;

  max-width: 500px;

  margin-bottom: 1em;

  input, textarea {
    border-color: #24c200;
  }
}

.book-edit-form, .reading-edit-form, .mark-as-read-form, .plan-edit-form {
  border-top: 1px solid #00a892;
  background: rgba(255, 255, 255, 0.7);
  padding: 15px;
  padding-top: 0px;

  input, textarea {
    border-color: #00a892;
  }
}
