@import "_settings.scss";
@import "_mixins.scss";

body {
  margin: 0;
  padding: 0;
  font: 12pt monospace;
  line-height: 1.4em;
}

h1 {
  line-height: 1.2em;
}

main {
  padding: 1em;
  @include centred($max-width);
}

a {
  @include link_styles($accent-color, 0.3);
}

.hidden {
  display: none;
}

.book-title {
  font-style: italic;
}

input, textarea {
  font-family: monospace;
  border-radius: 4px;
  padding: 4px;
}

button {
  font-family: monospace;
  font-size: 0.9em;
  border: 1px solid #3586e3;
  padding: 3px 7px;
  background: none;
  color: #175cab;
  background-color: #F2F7FD;
  border-radius: 3px;
  cursor: pointer;
}

button.delete-book {
  border-color: #a80000;
  background-color: #fff5f5;
  color: #a80000;
}

.half-width {
  width: 40%;
  display: inline-block;
}

// flashed messages

#messages div {
  background: rgba(61, 174, 76, 0.25);
  border: 1px solid #248f32;
  color: #14521d;
  padding: 4px 8px;
  border-radius: 4px;
  margin-bottom: 1em;
}

.reviews_by_year {
  margin-bottom: 4em;
}

@import "_aside.scss";
@import "_booklist.scss";
@import "_booksearch.scss";
@import "_footer.scss";
@import "_review_form.scss";
