@import "_settings.scss";
@import "_mixins.scss";

body {
  margin: 0;
  padding: 0;
  font: 12pt monospace;
  line-height: 1.4em;
}

h1 {
  line-height: 1.2em;
}

main {
  padding: 1em;
  @include centred($max-width);
}

a {
  @include link_styles($accent-color, 0.3);
}

.hidden {
  display: none;
}

.book-title {
  font-style: italic;
}

input, textarea {
  font-family: monospace;
  border-radius: 4px;
  padding: 4px;
}

button {
  font-family: monospace;
  border: 1px solid #3586e3;
  background: none;
  color: #175cab;
  background-color: #F2F7FD;
  border-radius: 3px;
}

button.delete-book {
  border-color: #a80000;
  background-color: #fff5f5;
  color: #a80000;
}

@import "_aside.scss";
@import "_booklist.scss";
@import "_booksearch.scss";
@import "_footer.scss";
@import "_review_form.scss";
